p, h1 {
	color: white;
	margin: 0;
	font-family: 'Merienda', cursive;
}
p {
	font-size: 1.5em;
	text-align: left;
	text-indent: 1.5em;
}
h1 {
	text-align: center;
	font-size: 2.5em;
}
body {
	padding: 0;
	margin: 0;
	background-color: rgb(0, 0, 0);
	overflow: hidden;
}
.hidden {
	display: none;
}
.line { 
    margin: 0vh 0vw 2vh 0vw;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, white));
}
.classicon {
	margin: 0vh 3vh 0vh 3vh;
	height: 6vh;
	width: 6vh;
	cursor: pointer;
	user-select: none;
}
.classicon img {
	vertical-align: middle;
	height: 6vh;
	width: 6vh;
	transition: transform 0.3s;
}
.classicon:hover img {
	transform: scale(1.6);
}
.model img {
	float: right;
	height: 40vh;
	margin-bottom: 6vh;
}
.skill {
	margin: 2vh 2vh 2vh 2vh;
}
.skill img {
	height: 12vh;
}
.box > .row {
	margin-top: 2vh;
	align-items: stretch;
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.content {
	animation: fadeInDown 0.5s;
}
.double > * {
	flex-basis: 45%;
}
.hidden {
	display: none;
}