html {
	font-size: 1em;
}
p, h1, h2 {
	color: white;
	margin: 0;
	font-family: 'Merienda', cursive;
}
p {
	font-size: 1.5rem;
	text-align: left;
}
span p {
	font-size: 1.2rem;
	font-family: 'MinecraftiaRegular';
	background-color: rgba(0,0,0,0.6);
	padding: 0.2rem 0.5rem;
}
h1 {
	text-align: center;
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	background-color: rgb(0, 0, 0);
}
img { 
	user-select: none;
}
/* HEADER STUFF */
.row {
	display: flex;
	justify-content: center;
}
/* Elementals Title */
#title {
	margin-top: 0.5rem;
	align-items: center;
	visibility: hidden;
	animation: fadeInDown 0.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
/* Class icons */
.classicon {
	margin: 1rem 2rem;
	height: 3.5rem;
	width: 3.5rem;
	cursor: pointer;
	
	animation: fadeInUp 1s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(8rem);
	}
	40% {
		transform: translateY(-2rem);
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
.classicon img {
	vertical-align: middle;
	height: 3.5rem;
	width: 3.5rem;
	transition: transform 0.3s;
}
.classicon:hover img {
	transform: scale(1.6);
}
/* Line */
.line {
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, white));
	animation: horizIn 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
@keyframes horizIn {
	0% {
		visibility: visible;
		width: 0;
	}
	100% {
		visibility: visible;
		width: 100%;
	}
}
/* CONTENT CONTAINS DESCBOX AND SKILLBOX */
#start {
	opacity: 0;
	animation: fadeInDown 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.row.double {
	flex-wrap: wrap;
}
.double > * {
	height: 32rem;
	margin: 2rem 2rem;
}
.double > div:first-child {
	flex-basis: 40rem;
}
.double > div:nth-child(2) {
	flex-basis: auto;
}
.descbox, .skillbox {
	flex-shrink: 0;
	flex-grow: 0;
}
/* DESCBOX CONTAINS TEXT AND MODEL */
.descbox {
	overflow: hidden;
}
.descbox.active {
	animation: revealDown 2s;
	animation-fill-mode: forwards;
}
.descbox > .row {
	margin-top: 2rem;
	align-items: stretch;
	flex-wrap: nowrap;
}
.model img {
	float: right;
	height: 22rem;
	margin-bottom: 6rem;
}
@keyframes revealDown {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}
/* SKILLBOX CONTAINS 4 ROWS, ROW CONTAINS 4 SKILLICONS */
.skillbox {
	height: 100%;
	background-color: rgba(102, 102, 102, 0.8);
	border-radius: 1rem;
	border: 1px solid white;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.skillbox.active {
	/* nothing */
}
.skillbox > .row {
	margin: 1rem 1.5rem;
	border-radius: 1rem;
	background-color: rgba(100, 0, 0, 0.4);
}
.skillbox > .row.active {
	animation: fadeInDown 0.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
.skillicon {
	height: 4rem;
	margin: 0.8rem 1rem 0.8rem 1rem;
	cursor: pointer;
}
.skillicon img {
	height: 100%;
}
.skillicon:hover img {
	-webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}
.skillicon span {
	display: none;
}
.skillicon:hover span {
	user-select: none;
	display: block;
	position: fixed;
	overflow: hidden;
}

/* SKILL POP UP MODULE - MODAL HAS A IFRAME AND A SKILLDESC > H2 AND P */
iframe {
	margin: 0;
}
.vidbox {
	flex: 0 0 640px;
	border: 1px solid white;
	margin-top: 2rem;
}
.skilldesc {
	flex: 0 0 320px;
	margin: 3vh 3vw;
}
.skilldesc p {
	text-align: left;
	margin-top: 1rem;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	animation: fadeOut 0.4s;
	animation-fill-mode: forwards;
}
.modal.active {
	display: block;
	animation: none;
}
/* Modal Content/Box */
.modal-content {
	/* Appearance */
    background-color: rgba(102,102,102,0.8);
	width: 80%;
	height: auto;
	max-height: 100%;
	margin: 40vh auto; /* 15% from the top and centered */
    padding: 1rem 2rem 2rem 2rem; /* Slightly less on top for the X */
    border: 1px solid #888;
	border-radius: 0.5rem;
	overflow: hidden;
    /*Animation */
	animation: modalIn 1s;
	transform: translateY(-20vh);
	/* Contents */	
	display: flex;
	flex-wrap: wrap;
}
/* CLOSE BTN */
.close {
	position: fixed;
    color: #aaa;
	right: 1.2rem;
    font-size: 28px;
    font-weight: bold;
	user-select: none;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

@keyframes modalIn {
	0% {
		width: 0%;
		max-height: 0%;
		transform: translateY(0);
	}
	
	50% {
		width: 80%;
		max-height: 0%;
		transform: translateY(0);
	}

	100% {
		width: 80%;
		max-height: 70vh;
		transform: translateY(-20vh);
	}
}
.hidden {
	display: none;
}

/* DAY/NIGHT */
.star {
	position: absolute;
	left: 0rem;
	top: 0rem;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.star img {
	margin: 3rem;
	padding: 0;
	height: 3rem;
	width: 3rem;
	animation: fadeInDown 1s;
}
.star img.out {
	animation: fadeOutDown 1s;
}
#moon {
	box-shadow: 0rem 0rem 9rem 0.5rem white;
}
#sun {
	box-shadow: 0rem 0rem 9rem 3rem white;
}
.day {
	background-color: rgb(139, 189, 255);
	animation: toDay 2s;
}
.night {
	background-color: rgb(0, 0, 0);
	animation: toNight 2s;
}
@keyframes toDay {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(139, 189, 255);
	}
}
@keyframes toNight {
	0% {
		background-color: rgb(139, 189, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
}

/* GENERAL ANIMATIONS */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeInDown {
	0% {
		visibility: visible;
		opacity: 0;
		transform: translateY(-2rem);
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fadeOutDown {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(6rem);
	}
}