p, h1, h2 {
	color: white;
	margin: 0;
	font-family: 'Merienda', cursive;
}
p {
	font-size: 1.5em;
	text-align: left;
}
span p {
	font-size: 1.2em;
	font-family: 'MinecraftiaRegular';
	background-color: rgba(0,0,0,0.6);
	padding: 0.2em 0.5em;
}
h1 {
	text-align: center;
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
body {
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	background-color: rgb(0, 0, 0);
}
.day {
	background-color: rgb(139, 189, 255);
	animation: toDay 2s;
}
.night {
	background-color: rgb(0, 0, 0);
	animation: toNight 2s;
}
/* DAY/NIGHT */
.star {
	position: absolute;
	left: 0em;
	top: 0em;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.star img {
	margin: 3em;
	padding: 0;
	height: 3em;
	width: 3em;
	animation: fadeInDown 1s;
	box-shadow: none;
}
.star img.out {
	animation: fadeOutDown 1s;
}
@keyframes fadeOutDown {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(6em);
	}
}
@keyframes toDay {
	0% {
		background-color: rgb(0, 0, 0);
	}
	100% {
		background-color: rgb(139, 189, 255);
	}
}
@keyframes toNight {
	0% {
		background-color: rgb(139, 189, 255);
	}
	100% {
		background-color: rgb(0, 0, 0);
	}
}
/* HEADER STUFF */
.row {
	display: flex;
	justify-content: center;
}
/* Elementals Title */
.row:not(.double) h1 {
	margin-top: 0.5em;
	height: 1.5em;
	width: 6em;
	align-items: center;
	visibility: hidden;
	animation: fadeInDown 0.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
/* Class icons */
.classicon {
	margin: 0 2em;
	height: 3.5em;
	width: 3.5em;
	cursor: pointer;
	user-select: none;
	
	animation: fadeInUp 1s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(8em);
	}
	40% {
		transform: translateY(-2em);
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
.classicon img {
	vertical-align: middle;
	height: 3.5em;
	width: 3.5em;
	transition: transform 0.3s;
}
.classicon:hover img {
	transform: scale(1.6);
}
/* Line */
.line { 
    margin: 0 0 2em 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, white));
	animation: horizIn 0.3s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
@keyframes horizIn {
	0% {
		visibility: visible;
		width: 0;
	}
	100% {
		visibility: visible;
		width: 100%;
	}
}
#start {
	opacity: 0;
	animation: fadeInDown 0.5s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
/* CONTENT CONTAINS DESCBOX AND SKILLBOX */
.double > * {
	flex-basis: 45%;
}
.row.double {
	height: 40em;
}
.descbox, .skillbox {
	margin-left: 2em;
	border-radius: 1em;
	overflow: hidden;
}
.skillbox {
	width: 26em;
	padding: 1em 0em 1em 2em;
	background-color: rgba(102, 102, 102, 0.8);
}
/* DESCBOX CONTAINS TEXT AND MODEL */
.descbox.active {
	animation: revealDown 2s;
	animation-fill-mode: forwards;
}
.descbox > .row {
	margin-top: 2em;
	align-items: stretch;
	flex-wrap: nowrap;
}
.model img {
	float: right;
	height: 22em;
	margin-bottom: 6em;
	user-select: none;
}
/* SKILLBOX CONTAINS 4 ROWS, ROW CONTAINS 4 SKILLICONS */
.skillbox.active {
	animation: fadeIn 1s;
}
.skillbox > .row {
	margin: 1em 0 1em 0;
	border-radius: 1em;
	width: 24em;
	background-color: rgba(100, 0, 0, 0.4);
}
.skillbox > .row.active {
	animation: fadeInDown 0.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInDown {
	0% {
		visibility: visible;
		opacity: 0;
		transform: translateY(-2em);
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
/* Can't animate skill, causes problems with zindex */
.skill {
	height: 4em;
	margin: 0.8em 1em 0.8em 1em;
	user-select: none;
	cursor: pointer;
}
.skill img {
	height: 100%;
}
.skill:hover img {
	-webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}
.skill span {
	display: none;
}
.skill:hover span {
	display: block;
	position: fixed;
	overflow: hidden;
}

/* SKILL POP UP MODULE - MODAL HAS A IFRAME AND A SKILLDESC > H2 AND P */
iframe {
	margin: 0;
}
.skillvideo {
	border: 1px solid white;
	margin-top: 2em;
}
.skilldesc {
	margin: 3vh 3vw;
}
.skilldesc p {
	text-align: left;
	margin-top: 1em;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	animation: fadeOut 0.4s;
	animation-fill-mode: forwards;
}
.modal.active {
	display: block;
	animation: none;
}
/* Modal Content/Box */
.modal-content {
    background-color: rgba(102,102,102,0.8);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1.8em;
    border: 1px solid #888;
	animation: modalIn 1.2s;
	animation-fill-mode: forwards;
	display: flex;
	overflow: hidden;
	border-radius: 0.5em;
	
	width: 80%;
	height: 50%;
	transform: translateY(-20%);
}
/* CLOSE BTN */
.close {
	position: fixed;
    color: #aaa;
	right: 1.2em;
    font-size: 28px;
    font-weight: bold;
	user-select: none;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes modalIn {
	0% {
		width: 0%;
		height: 0%;
		transform: translateY(0);
	}
	
	50% {
		width: 80%;
		height: 0%;
		transform: translateY(0);
	}

	100% {
		width: 80%;
		height: 50%;
		transform: translateY(-20%);
	}
}
@keyframes revealDown {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
.hidden {
	display: none;
}