p, h1 {
	color: white;
	margin: 0;
	font-family: 'Merriweather', serif;
}
p {
	font-size: 2em;
	margin: 2vh 2vw 2vh 2vw;
	text-align: center;
}
h1 {
	text-align: center;
	font-size: 2.5em;
}
body {
	padding: 0;
	margin: 0;
	background-color: rgb(160, 160, 160);
}
html {
	font-size: 1em;
}
/* ARROWS */
.scroll {
	position: relative;
	font-size: 1.3em;
	display: block;
	height: 10px;
	animation: fadeInDown 1s;
}
.scroll:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;

	margin: auto;
	top: 10px;
	right: 0;

	left: 0;
	-webkit-animation:3s arrow infinite ease;	
	animation:3s arrow infinite ease;
}
.scroll:after {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);

}
@-webkit-keyframes arrow {
  0%, 100% {
    top: 0vh;
  }
  50% {
    top: 8vh;
  }
}
@keyframes arrow {
  0%, 100% {
    top: 0vh;
  }
  50% {
    top: 8vh;
  }
}

/* TOP BANNER */
.banner {
	margin: 0vh 0vw 0vh 0vw;
	height: 8rem;
	display: flex;
	align-items: center;
	animation: fadeOut 1s;
}
.banner.active {
	opacity: 1;
	animation: fadeIn 2s;
}
.banner > h1 {
	width: 100%;
	text-align: center;
}
#banner0 {
	background-color: rgba(102, 102, 102, 1);
}
#banner1 {
	background-color: rgba(236, 95, 95, 1);
}
#banner2 {
	background-color: rgba(51, 153, 255, 1);
}
#banner3 {
	background-color: rgba(51, 153, 116, 1);
}
/* i really like dick*/
/* IMAGE BOXES */
.row {
	z-index: 1;
	display: flex;
	padding: 2rem 1rem;
	justify-content: center;
}
.imgbox {
	z-index: 2;
	width: 10rem;
	height: 10rem;
	margin: 1rem;
	border: 2px solid black;
	
	overflow: hidden;
	opacity: 0.7;
	transition: width 0.4s, opacity 0.2s;
	
	cursor: pointer;
	user-select: none;
	flex: 0 0 auto;
}
.imgbox.active {
	animation: popIn 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-fill-mode: backwards;
}
.imgbox > img {
	height: 100%;
	width: 20rem;
	transform: translateX(-25.58%);
	transition: transform 0.4s;
}
.imgbox:not(.nohover):hover {
	width: 20rem;
	opacity: 1;
}
.imgbox:not(.nohover):hover > img {
	transform: translateX(0%);
}
#academics .imgbox {
	box-shadow: 4px 4px 2px rgb(165, 67, 67);
}
#projects .imgbox {
	box-shadow: 4px 4px 2px rgb(71, 125, 178);
}
#misc .imgbox {
	box-shadow: 4px 4px 2px rgb(31, 93, 59);
}
@keyframes popIn {
	from {
		width: 0;
		height: 0;
		border: 0px solid black;
	}
	to {
		width: 10rem;
		height: 10rem;
		border: 2px solid black;
	}
}

/* CONTENT */
.content {
	z-index: 0;
	animation: fadeInDown 0.5s;
}
.single > * {
	flex-basis: 66.66%;
}
.double > * {
	flex-basis: 33.33%;
}
.triple > * {
	flex-basis: 22.22%;
}
.hidden {
	display: none;
}


/* ANIMATIONS */

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6vw, 0);
    transform: translate3d(0, -6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6vw, 0);
    transform: translate3d(0, -6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 6vw, 0);
    transform: translate3d(0, 6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 6vw, 0);
    transform: translate3d(0, 6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10vw, 0, 0);
    transform: translate3d(-10vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10vw, 0, 0);
    transform: translate3d(-10vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10vw, 0, 0);
    transform: translate3d(10vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10vw, 0, 0);
    transform: translate3d(10vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Pagination */
.pagination {
	position: fixed;
	right: 2vw;
	bottom: 2vh;
	z-index: 10;
}
.pagination li {
	display: block;
	height: 1.6vh;
	width: 1.6vh;
	margin-bottom: 1vh;
	color: white;
	position: relative;
	padding: 4px;
}
.pagination li.active:after {
	box-shadow:inset 0 0 0 5px;
}
.pagination li:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width: 1.2vh;
	height: 1.2vh;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	content: '';
	position: absolute;
	margin: auto;
	top: 0;
	right: 4px;
	bottom: 0;
}
ol, ul {
	list-style: none;
}