html {
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif
}
p {
	color: black;
	font-size: 1.5rem;
}
h1 {
	font-size: 2rem;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 1.5rem;
}
/* Navigation */
#navbar  {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10000;
	background-color: #4d4d4d;
	overflow: hidden;
	width: 100%;
	height: 4rem;
	user-select: none;
}
#title {
	color: lightgrey;
}
.navbutton {
	color: white;
	padding: 1rem 0.5rem;
	height: 2rem;
	background-color: #4d4d4d;
	cursor: pointer;
	transition: transform 0.2s;
}

.navbutton:hover {
	transform: translateY(-0.3rem);
}

/* Body */
#wrapper {
	margin: 2rem 4rem 0 3rem;
}

.section {
	z-index: 1;
	display: flex;
	padding: 2rem 0rem;
	justify-content: left;
}

.subsection {
	position: fixed;
	top: 4rem;
	left: 26rem;
}

.carousel {
	flex: 0 0 24rem;
	height: 36rem;
}

/* IMAGE BOXES */
.imgbox {
	width: 10rem;
	height: 10rem;
	margin: 1rem;
	border: 2px solid black;
	box-shadow: 4px 4px 2px grey;
	border-radius: 1rem;
	
	overflow: hidden;
	transition: width 0.3s;
	
	cursor: pointer;
	user-select: none;
	
}
.imgbox > img {
	height: 100%;
	width: 20rem;
	transform: translateX(-25.58%);
	transition: transform 0.3s;
}
.imgbox.active {
	width: 20rem;
}
.imgbox.active > img {
	transform: translateX(0%);
}
#start {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#info {
	flex: 0 0 12rem;
}

#info > p {
	animation: fadeInDown 0.5s;
	animation-fill-mode: both;
	transition: transform 0.2s;
}

#profile {
	animation: fadeIn 0.5s;
	margin: 2rem 0 0 0;
	animation-fill-mode: both;
}
#profile > img {
	border-radius: 1rem;
	box-shadow: 2px 3px lightgrey;
}
/* CONTENT */
/* just have this scroll with page*/
.content {
	z-index: 0;
	animation: fadeInDown 0.5s;
	margin: 2rem 8rem 0rem 0rem;
}
.hidden {
	display: none;
}


/* ANIMATIONS */

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -3rem, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInDown {
  from {opacity: 0;transform: translate3d(0, -3rem, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 3rem, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInUp {
  from {opacity: 0;transform: translate3d(0, 3rem, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes fadeOutUp {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(0, -3rem, 0);}
}

@keyframes fadeOutUp {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(0, -3rem, 0);}
}
@-webkit-keyframes fadeOutLeft {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(-3rem, 0, 0);}
}

@keyframes fadeOutLeft {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(-3rem, 0, 0);}
}

@-webkit-keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-3rem, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInLeft {
  from {opacity: 0;transform: translate3d(-3rem, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeOutRight {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(3rem, 0, 0);}
}

@keyframes fadeOutRight {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(3rem, 0, 0);}
}

@-webkit-keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(3rem, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInRight {
  from {opacity: 0;transform: translate3d(3rem, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}