html {
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif
}
p {
	color: black;
	font-size: 1.5rem;
}
h1 {
	font-size: 2rem;
}
body {
	padding: 0;
	margin: 0;
	overflow: scroll;
	font-size: 1.5rem;
}
/* Navigation */
#navbar  {
	position: fixed;
	top: 0;
	z-index: 10000;
	text-align: left;
	text-decoration: none;
	background-color: #4d4d4d;
	overflow: hidden;
	width: 100%;
	padding: 0.5em 0 0.5em 0;
	user-select: none;
}
#title {
	color: lightgrey;
	margin-left: 4em;
}
.navbutton {
	color: white;
	padding: 0.4em 0.4em 0.4em 0.4em;
	cursor: pointer;
}

.navbutton:hover {
  background-color: #333333;
}

/* Body */
#wrapper {
	margin: 2rem 4rem 0 3rem;
}

.section {
	z-index: 1;
	display: flex;
	padding: 2rem 0rem;
	justify-content: left;
}

.subsection {
	position: fixed;
	top: 4em;
	left: 30%;
}

.carousel {
	flex: 0 0 24rem;
	height: 36rem;
}

/* IMAGE BOXES */
.imgbox {
	width: 10rem;
	height: 10rem;
	margin: 1rem;
	border: 2px solid black;
	box-shadow: 4px 4px 2px grey;
	
	overflow: hidden;
	transition: width 0.4s;
	animation: fadeInDown 0.4s;
	
	cursor: pointer;
	user-select: none;
	
}
.imgbox > img {
	height: 100%;
	width: 20rem;
	transform: translateX(-25.58%);
	transition: transform 0.4s;
}
.imgbox.active {
	width: 20rem;
}
.imgbox.active > img {
	transform: translateX(0%);
}
#profile {
	animation: fadeInRight 0.5s;
}
/* CONTENT */
/* just have this scroll with page*/
.content {
	z-index: 0;
	animation: fadeInDown 0.5s;
	margin: 2rem 8rem 0rem 0rem;
}
.hidden {
	display: none;
}


/* ANIMATIONS */

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6vw, 0);
    transform: translate3d(0, -6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6vw, 0);
    transform: translate3d(0, -6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 6vw, 0);
    transform: translate3d(0, 6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 6vw, 0);
    transform: translate3d(0, 6vw, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(-5vw, 0, 0);}
}

@keyframes fadeOutLeft {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(-5vw, 0, 0);}
}

@-webkit-keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-5vw, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInLeft {
  from {opacity: 0;transform: translate3d(-5vw, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes fadeOutRight {
  from {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
  to {opacity: 0;-webkit-transform: translate3d(5vw, 0, 0);}
}

@keyframes fadeOutRight {
  from {opacity: 1;transform: translate3d(0, 0, 0);}
  to {opacity: 0;transform: translate3d(5vw, 0, 0);}
}

@-webkit-keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(5vw, 0, 0);}
  to {opacity: 1;-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeInRight {
  from {opacity: 0;transform: translate3d(5vw, 0, 0);}
  to {opacity: 1;transform: translate3d(0, 0, 0);}
}